* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.default {
    margin: initial; padding: initial; 
}

.tile {
    width: 100px;
    height: 86.6px;
    background-color: dodgerblue;
    border-right: 10px solid gray;
    border-bottom: 10px solid gray;
    border-radius: 10px;
    transform: skew(-31.5deg);
    transition-duration: 0.1s;
}

.tile:hover {
    background-color: royalblue;
    transform: translate(5px);
}
